html {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  min-height: 100%;
  width: 100%;
  overflow-x: hidden;

}

.text-orange {
  color: #F37335;
}